/* Menú lateral */
.sidebar {
  background-color: #f8f9fa;
  height: 100vh;
  padding-top: 1rem;
  border-right: 1px solid #ddd;
}

/* Estilos para los enlaces del menú */
.nav-link {
  color: #495057;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

/* Efecto hover: Sombreado */
.nav-link:hover {
  background-color: #082c51;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Estilo para el enlace activo */
.nav-link.active {
  background-color: #007bff;
  color: #fff !important;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.4); /* Sombra para el botón activo */
}
